Server/ModelDrivenPattern/WEB-INF/wsdl/KeyStoreNamesService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://logic.wsdl.com/" targetNamespace="http://logic.wsdl.com/" version="1.0">

  <xs:element name="getKeyStoreNames" type="tns:getKeyStoreNames"/>

  <xs:element name="getKeyStoreNamesResponse" type="tns:getKeyStoreNamesResponse"/>

  <xs:complexType name="getKeyStoreNames">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getKeyStoreNamesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
