Server/ModelDrivenPattern/WEB-INF/wsdl/UserRequirementService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://logic.wsdl.com/" targetNamespace="http://logic.wsdl.com/" version="1.0">

  <xs:element name="services" type="tns:services"/>

  <xs:element name="servicesResponse" type="tns:servicesResponse"/>

  <xs:complexType name="services">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="servicesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
